{% extends 'basic/base.html' %}

{% block content_nav_home %}系统管理{% endblock %}

{% block nav_path %}
    <li><span>系统用户</span></li>
{% endblock %}

{% block content %}
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#add1" style="margin: 5px 0">添加</a>
    <table class="table table-bordered table-striped text-center bg-info">
        <thead>
        <tr class="info">
            <th class="text-center">id</th>
            <th class="text-center">name</th>
            <th class="text-center">auth_string</th>
            <th class="text-center">email</th>
            <th class="text-center">phone</th>
            <th class="text-center" width="200px">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for suser in susers %}
            <tr>
                <td>{{ suser.id }}</td>
                <td>{{ suser.name }}</td>
                <td>{{ suser.auth_string }}</td>
                <td>{{ suser.email }}</td>
                <td>{{ suser.phone }}</td>
                <td>
                    <a href="#" class="btn btn-info btn-sm" data-toggle="modal"
                       onclick="edit({{ suser.id }}, '{{ suser.name }}','{{ suser.auth_string }}','{{ suser.email }}','{{ suser.phone }}')">编辑</a>
                    <a onclick="delete_suser({{ suser.id }}, '{{ suser.name }}','{{ suser.auth_string }}','{{ suser.email }}','{{ suser.phone }}')" class="btn btn-danger btn-sm">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--添加-->
    <div class="modal fade" id="add1" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">添加</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>用户名 ：</span></label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label><span>安全口令：</span></label>
                                <input type="password" name="password"/>
                            </li>
                            <li>
                                <label><span>邮箱 ：</span></label>
                                <input type="email" name="email"/>
                            </li>
                            <li>
                                <label><span>电话 ：</span></label>
                                <input type="text" name="phone"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 编辑 -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">编辑</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>用户ID ：</span></label>
                                <input id="edit_id" type="text" name="suser_id" />
                            </li>
                            <li>
                                <label><span>用户名 ：</span></label>
                                <input id="edit_name" type="text" name="name"/>
                            </li>
                            <li>
                                <label><span>用户口令 ：</span></label>
                                <input id="edit_pwd" type="password" name="password"  />
                            </li>
                            <li>
                                <label><span>用户邮箱 ：</span></label>
                                <input id="edit_email" type="email" name="email"/>
                            </li>
                            <li>
                                <label><span>系统用户电话 ：</span></label>
                                <input id="edit_phone" type="text" name="phone"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 提示 -->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">提示信息</h4>
                </div>

                <div class="modal-body">

                    <h4 id="msg"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button onclick="delete_ajax()" class="btn btn-warning btn-sm">确定</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function edit(id, name,auth_string,email,phone) {
            $('#edit_id').val(id);
            $('#edit_name').val(name);
            $('#edit_pwd').val(auth_string);
            $('#edit_email').val(email);
            $('#edit_phone').val(phone);
            $('#edit').modal('show');
        }

        var suser_id = 0;
        function delete_suser(suserid, suser_name) {
            suser_id = suserid;
            $('#msg').html('是否删除 '+ suser_name+" ?");
            $('#info').modal('toggle');
        }

        function delete_ajax() {
            url = window.location.href + "?id=" + suser_id;
            fetch(url, {
                method: 'DELETE'
            }).then(resp => resp.json()).then(data => {
                alert(data.msg);
                if (data.status == 0) {
                    // 刷新当前页面
                    open(window.location.href, target = '_self');
                }
            })
        }
    </script>
{% endblock %}

