{% extends 'basic/base.html' %}

{% block content_nav_home %}课程管理{% endblock %}

{% block nav_path %}
    <li><span>一级分类</span></li>
{% endblock %}

{% block content %}
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#add1" style="margin: 5px 0">添加</a>
    <table class="table table-bordered table-striped text-center bg-info">
        <thead>
        <tr class="info">
            <th class="text-center">id</th>
            <th class="text-center">一级分类</th>
            <th class="text-center">名称</th>
            <th class="text-center" width="200px">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for firstlist in firstlists %}
            <tr>
                <td>{{ firstlist.id }}</td>
                <td>{{ firstlist.yk_firstclassid }}</td>
                <td>{{ firstlist.yk_firstclassname}}</td>
                <td>
                    <a href="#" class="btn btn-info btn-sm" data-toggle="modal"
                       onclick="edit({{ firstlist.id }},{{ firstlist.yk_firstclassid }},
                               '{{ firstlist.yk_firstclassname}}')">编辑</a>
                    <a onclick="delete_firstlist({{ firstlist.id }},{{ firstlist.yk_firstclassid }},
                            '{{ firstlist.yk_firstclassname }}')" class="btn btn-danger btn-sm">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <center>
        <a href="{% url 'bk:lf' 1 %}"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">首页</button></a>
        {% if firstlists.has_previous %}
            <a href="{% url 'bk:lf' firstlists.previous_page_number%}"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">上一页</button></a>
        {% else %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:alert('已经是首页了！！')"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">上一页</button></a>
        {% endif %}

        {% if firstlists.has_next %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'bk:lf' firstlists.next_page_number %}"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">下一页</button></a>
        {% else %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:alert('已经是末页了！')"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">下一页</button></a>
        {% endif %}

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'bk:lf' paginator.num_pages %}"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">末页</button></a>
    </center>

    <!--添加-->
    <div class="modal fade" id="add1" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">添加</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>一级ID：</span></label>
                                <input type="text" name="firstlist_id"/>
                            </li>
                            <li>
                                <label><span>一级类名：</span></label>
                                <input type="text" name="name"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 编辑 -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">编辑</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>ID ：</span></label>
                                <input id="edit_id" type="text" name="first_id" />
                            </li>
                            <li>
                                <label><span>一级分类ID ：</span></label>
                                <input id="edit_firstid" type="text" name="firstlist_id" />
                            </li>
                            <li>
                                <label><span>一级分类名 ：</span></label>
                                <input id="edit_name" type="text" name="name"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 提示 -->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">提示信息</h4>
                </div>

                <div class="modal-body">

                    <h4 id="msg"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button onclick="delete_ajax()" class="btn btn-warning btn-sm">确定</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function edit(id,yk_firstclassid, yk_firstclassname) {
            $('#edit_id').val(id);
            $('#edit_firstid').val(yk_firstclassid);
            $('#edit_name').val(yk_firstclassname);
            $('#edit').modal('show');
        }

        var firstlist_id = 0;
        function delete_firstlist(firstlistid, firstlist_name) {
            firstlist_id = firstlistid;
            $('#msg').html('是否删除 '+ firstlist_name+" ?");
            $('#info').modal('toggle');
        }

        function delete_ajax() {
            url = window.location.href + "?id=" + firstlist_id;
            fetch(url, {
                method: 'DELETE'
            }).then(resp => resp.json()).then(data => {
                alert(data.msg);
                if (data.status == 0) {
                    // 刷新当前页面
                    open(window.location.href, target = '_self');
                }
            })
        }
    </script>
{% endblock %}

