{% extends 'basic/base.html' %}

{% block content_nav_home %}课程管理{% endblock %}

{% block nav_path %}
    <li><span>课程列表</span></li>
{% endblock %}

{% block content %}
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#add1" style="margin: 5px 0">添加</a>
    <table id="table_lesson" class="table table-bordered table-striped text-center bg-info">
        <thead>
        <tr class="info">
            <th class="text-center">ID</th>
            <th class="text-center">链接</th>
            <th class="text-center">名称</th>
            <th class="text-center">价格</th>
            <th class="text-center">价格类型</th>
            <th class="text-center">活动价格</th>
            <th class="text-center">教师简介</th>
            <th class="text-center">课程简介</th>
            <th class="text-center">内容</th>
            <th class="text-center">内容标记</th>
            <th class="text-center">图片</th>
            <th class="text-center">轮播ID</th>
            <th class="text-center">推荐ID</th>
            <th class="text-center">用户ID</th>
            <th class="text-center">购买量</th>
            <th class="text-center">播放量</th>
            <th class="text-center">章节</th>
            <th class="text-center">一级类ID</th>
            <th class="text-center">二级类ID</th>
            <th class="text-center">大小</th>
            <th class="text-center">点赞数</th>
            <th class="text-center" width="200px">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.id }}</td>
{#                <td><video  controls width="120"height="120" preload="none"><source src= "{{ lesson.yk_video_jump_link }}" type="video/mp4"></video></td>#}
                <td>


{#                    <a  href='http://localhost:8000/back/video/{{ lesson.yk_video_jump_link|spilt_url }}/' >点击播放</a>#}
                    <a id="a_video" onclick="javascrtpt:window.location.href='http://localhost:8000/back/video/{{ lesson.yk_video_jump_link|spilt_url }}/' " class="btn btn-info" data-toggle="modal" data-target="#add1" style="margin: 5px 0">点击播放</a>

{#                    <button style="width: 60px;height: 60px" value="点击播放"  onclick="javascrtpt:window.location.href='http://localhost:8000/back/video/{{ lesson.yk_video_jump_link|spilt_url }}/'  ">点击播放</button>#}

                </td>
                <td>{{ lesson.yk_lesson_name }}</td>
                <td>{{ lesson.yk_lesson_price }}</td>
                <td>{{ lesson.yk_lesson_price_type }}</td>
                <td>{{ lesson.yk_lesson_dis_price }}</td>
                <td>{{ lesson.yk_teacher_describe }}</td>
                <td>{{ lesson.yk_lesson_describe }}</td>
                <td>{{ lesson.yk_lesson_contents }}</td>
                <td>{{ lesson.yk_lesson_contents_mark }}</td>
                <td>{{ lesson.yk_lesson_img|to_img_tag }}</td>
                <td>{{ lesson.yk_rotaion_id }}</td>
                <td>{{ lesson.yk_recommend_id }}</td>
                <td>{{ lesson.yk_user_id }}</td>
                <td>{{ lesson.yk_buy_amount }}</td>
                <td>{{ lesson.yk_watch_amount }}</td>
                <td>{{ lesson.yk_course_chapter }}</td>
                <td>{{ lesson.yk_one_list_id }}</td>
                <td>{{ lesson.yk_tow_list_id }}</td>
                <td>{{ lesson.yk_class_size }}</td>
                <td>{{ lesson.yk_lesson_click }}</td>
                <td>

                    <a href="#" class="btn btn-info btn-sm" data-toggle="modal"
                       onclick="edit({{ lesson.id }}, '{{ lesson.yk_video_jump_link }}',
                               '{{ lesson.yk_lesson_name }}','{{ lesson.yk_lesson_price }}',
                               '{{ lesson.yk_lesson_price_type }}','{{ lesson.yk_lesson_dis_price }}',
                               '{{ lesson.yk_teacher_describe }}','{{ lesson.yk_lesson_describe }}',
                               '{{ lesson.yk_lesson_contents }}','{{ lesson.yk_lesson_contents_mark }}',
                               '{{ lesson.yk_lesson_img }}','{{ lesson.yk_rotaion_id }}','{{ lesson.yk_recommend_id }}'
                               ,'{{ lesson.yk_user_id }}','{{ lesson.yk_buy_amount }}'
                               ,'{{ lesson.yk_watch_amount }}','{{ lesson.yk_course_chapter }}'
                               ,'{{ lesson.yk_one_list_id }}','{{ lesson.yk_tow_list_id }}',
                               '{{ lesson.yk_class_size }}','{{ lesson.yk_lesson_click }}')">编辑</a>
                    <a onclick="delete_lesson({{ lesson.id }}, '{{ lesson.yk_video_jump_link }}',
                            '{{ lesson.yk_lesson_name }}','{{ lesson.yk_lesson_price }}',
                            '{{ lesson.yk_lesson_price_type }}','{{ lesson.yk_lesson_dis_price }}',
                            '{{ lesson.yk_teacher_describe }}','{{ lesson.yk_lesson_describe }}',
                            '{{ lesson.yk_lesson_contents }}','{{ lesson.yk_lesson_contents_mark }}',
                            '{{ lesson.yk_lesson_img }}','{{ lesson.yk_rotaion_id }}','{{ lesson.yk_recommend_id }}'
                            ,'{{ lesson.yk_user_id }}','{{ lesson.yk_buy_amount }}'
                            ,'{{ lesson.yk_watch_amount }}','{{ lesson.yk_course_chapter }}'
                            ,'{{ lesson.yk_one_list_id }}','{{ lesson.yk_tow_list_id }}',
                            '{{ lesson.yk_class_size }}','{{ lesson.yk_lesson_click }}')" class="btn btn-danger btn-sm">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <center>
        <a href="{% url 'bk:ll' 1 %}"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">首页</button></a>
        {% if lessons.has_previous %}
            <a href="{% url 'bk:ll' lessons.previous_page_number%}"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">上一页</button></a>
        {% else %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:alert('已经是首页了！！')"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">上一页</button></a>
        {% endif %}

        {% if lessons.has_next %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  id="bt_next" href="{% url 'bk:ll' lessons.next_page_number %}"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">下一页</button></a>
        {% else %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:alert('已经是末页了！')"><button  style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">下一页</button></a>
        {% endif %}

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'bk:ll' paginator.num_pages %}"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">末页</button></a>
    </center>

    <!--添加-->
    <div class="modal fade" id="add1" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">添加</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>链接 ：</span></label>
                                <input type="text" name="link"/>
                            </li>
                            <li>
                                <label><span>名称：</span></label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label><span>价格 ：</span></label>
                                <input type="text" name="price"/>
                            </li>
                            <li>
                                <label><span>价格类 ：</span></label>
                                <input type="text" name="price_type"/>
                            </li>
                            <li>
                                <label><span>活动价：</span></label>
                                <input type="text" name="dis_price"/>
                            </li>
                            <li>
                                <label><span>教师简介：</span></label>
                                <input type="text" name="tdescribe"/>
                            </li>
                            <li>
                                <label><span>课简介：</span></label>
                                <input type="text" name="ldescribe"/>
                            </li>
                            <li>
                                <label><span>内容 ：</span></label>
                                <input type="text" name="lcontens"/>
                            </li>
                             <li>
                                <label><span>内容标记：</span></label>
                                <input type="text" name="lcontens_mark"/>
                            </li>
                             <li>
                                <label><span>图片链接：</span></label>
                                <input type="text" name="img"/>
                            </li>
                             <li>
                                <label><span>轮播id ：</span></label>
                                <input type="text" name="rotaion_id"/>
                            </li>
                             <li>
                                <label><span>推荐 ：</span></label>
                                <input type="text" name="recommend_id"/>
                            </li>
                             <li>
                                <label><span>用户id ：</span></label>
                                <input type="text" name="user_id"/>
                            </li>
                             <li>
                                <label><span>购买数量：</span></label>
                                <input type="text" name="buy_amount"/>
                            </li> <li>
                                <label><span>观看量 ：</span></label>
                                <input type="text" name="watch_amount"/>
                            </li> <li>
                                <label><span>章节：</span></label>
                                <input type="text" name="course_chapter"/>
                            </li> <li>
                                <label><span>一级类ID：</span></label>
                                <input type="text" name="one_list_id"/>
                            </li><li>
                                <label><span>二级类ID：</span></label>
                                <input type="text" name="tow_list_id"/>
                            </li><li>
                                <label><span>课程大小：</span></label>
                                <input type="text" name="size"/>
                            </li>
                            <li>
                                <label><span>点赞数：</span></label>
                                <input type="text" name="click"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 编辑 -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">编辑</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>ID ：</span></label>
                                <input id='edit_id' type="text" name="lessonlist_id"/>
                            </li>
                             <li>
                                <label><span>链接 ：</span></label>
                                <input id='edit_link' type="text" name="link"/>
                            </li>
                            <li>
                                <label><span>名称：</span></label>
                                <input id='edit_name' type="text" name="name"/>
                            </li>
                            <li>
                                <label><span>价格 ：</span></label>
                                <input id='edit_price' type="text" name="price"/>
                            </li>
                            <li>
                                <label><span>价格类 ：</span></label>
                                <input id='edit_pricetype' type="text" name="price_type"/>
                            </li>
                            <li>
                                <label><span>活动价 ：</span></label>
                                <input id='edit_disprice' type="text" name="dis_price"/>
                            </li>
                            <li>
                                <label><span>教师简介：</span></label>
                                <input id='edit_tdescribe' type="text" name="tdescribe"/>
                            </li>
                            <li>
                                <label><span>课程简介：</span></label>
                                <input id='edit_ldescribe' type="text" name="ldescribe"/>
                            </li>
                            <li>
                                <label><span>内容 ：</span></label>
                                <input id='edit_contens' type="text" name="lcontens"/>
                            </li>
                             <li>
                                <label><span>内容标记：</span></label>
                                <input id='edit_contens_mark' type="text" name="lcontens_mark"/>
                            </li>
                             <li>
                                <label><span>图片：</span></label>
                                <input id='edit_img' type="text" name="img"/>
                            </li>
                             <li>
                                <label><span>轮播id ：</span></label>
                                <input id='edit_rotation_id' type="text" name="rotaion_id"/>
                            </li>
                             <li>
                                <label><span>推荐 ：</span></label>
                                <input id='edit_recommend_id' type="text" name="recommend_id"/>
                            </li>
                             <li>
                                <label><span>用户id ：</span></label>
                                <input id='edit_user_id' type="text" name="user_id"/>
                            </li>
                             <li>
                                <label><span>购买量：</span></label>
                                <input id='edit_buy_amount' type="text" name="buy_amount"/>
                            </li> <li>
                                <label><span>观看量：</span></label>
                                <input id='edit_watch_amount' type="text" name="watch_amount"/>
                            </li> <li>
                                <label><span>章节：</span></label>
                                <input id='edit_course_chapter' type="text" name="course_chapter"/>
                            </li> <li>
                                <label><span>一级分类：</span></label>
                                <input id='edit_one_list_id' type="text" name="one_list_id"/>
                            </li><li>
                                <label><span>二级分类：</span></label>
                                <input id='edit_tow_list_id' type="text" name="tow_list_id"/>
                            </li><li>
                                <label><span>课程大小：</span></label>
                                <input id='edit_class_size' type="text" name="size"/>
                            </li>
                            <li>
                                <label><span>点赞数：</span></label>
                                <input id='edit_lesson_click' type="text" name="click"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 提示 -->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">提示信息</h4>
                </div>

                <div class="modal-body">

                    <h4 id="msg"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button onclick="delete_ajax()" class="btn btn-warning btn-sm">确定</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        function edit(id, yk_video_jump_link,yk_lesson_name,yk_lesson_price,
                      yk_lesson_price_type,yk_lesson_dis_price,yk_teacher_describe,
                      yk_lesson_describe,yk_lesson_contents,yk_lesson_contents_mark,
                      yk_lesson_img,yk_rotaion_id,yk_recommend_id,yk_user_id,
                      yk_buy_amount,yk_watch_amount,yk_course_chapter,yk_one_list_id,
                      yk_tow_list_id,yk_class_size,yk_lesson_click
        ) {
            $('#edit_id').val(id);
            $('#edit_link').val(yk_video_jump_link);
            $('#edit_name').val(yk_lesson_name);
            $('#edit_price').val(yk_lesson_price);
            $('#edit_pricetype').val(yk_lesson_price_type);
            $('#edit_disprice').val(yk_lesson_dis_price);
            $('#edit_tdescribe').val(yk_teacher_describe);
            $('#edit_ldescribe').val(yk_lesson_describe);
            $('#edit_contens').val(yk_lesson_contents);
            $('#edit_contens_mark').val(yk_lesson_contents_mark);
            $('#edit_img').val(yk_lesson_img);
            $('#edit_rotation_id').val(yk_rotaion_id);
            $('#edit_recommend_id').val(yk_recommend_id);
            $('#edit_user_id').val(yk_user_id);
            $('#edit_buy_amount').val(yk_buy_amount);
            $('#edit_watch_amount').val(yk_watch_amount);
            $('#edit_course_chapter').val(yk_course_chapter);
            $('#edit_one_list_id').val(yk_one_list_id);
            $('#edit_tow_list_id').val(yk_tow_list_id);
            $('#edit_class_size').val(yk_class_size);
            $('#edit_lesson_click').val(yk_lesson_click);
            $('#edit').modal('show');
        }

        var lesson_id = 0;
        function delete_lesson(lessonid, lesson_name) {
            lesson_id = lessonid;
            $('#msg').html('是否删除 '+ lesson_name+" ?");
            $('#info').modal('toggle');
        }

        function delete_ajax() {
            url = window.location.href + "?id=" + lesson_id;
            fetch(url, {
                method: 'DELETE'
            }).then(resp => resp.json()).then(data => {
                alert(data.msg);
                if (data.status == 0) {
                    // 刷新当前页面
                    open(window.location.href, target = '_self');
                }
            })
        }
    </script>
{% endblock %}

