{% extends 'basic/base.html' %}

{% block content_nav_home %}课程管理{% endblock %}

{% block nav_path %}
    <li><span>二级分类</span></li>
{% endblock %}

{% block content %}
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#add1" style="margin: 5px 0">添加</a>
    <table class="table table-bordered table-striped text-center bg-info">
        <thead>
        <tr class="info">
            <th class="text-center">id</th>
            <th class="text-center">二级分类ID</th>
            <th class="text-center">二级分类名</th>
            <th class="text-center">一级分类ID</th>
            <th class="text-center">图片</th>
            <th class="text-center">地址</th>
            <th class="text-center" width="200px">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for secondlist in secondlists %}
            <tr>
                <td>{{ secondlist.id }}</td>
                <td>{{ secondlist.yk_secondclassid}}</td>
                <td>{{ secondlist.yk_secondclassname}}</td>
                <td>{{ secondlist.yk_firstclassid}}</td>
                <td>{{ secondlist.secondimage|to_img_tag}}</td>
                <td>{{ secondlist.secondurl}}</td>
                <td>
                    <a href="#" class="btn btn-info btn-sm" data-toggle="modal"
                       onclick="edit({{ secondlist.id }},{{ secondlist.yk_secondclassid}},
                               '{{ secondlist.yk_secondclassname}}',{{ secondlist.yk_firstclassid}},
                               '{{ secondlist.secondimage}}','{{ secondlist.secondurl}}')">编辑</a>
                    <a onclick="delete_secondlist({{ secondlist.id }},{{ secondlist.yk_secondclassid}},
                            '{{ secondlist.yk_secondclassname}}',{{ secondlist.yk_firstclassid}},
                            '{{ secondlist.secondimage}}','{{ secondlist.secondurl}}')" class="btn btn-danger btn-sm">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <center>
        <a href="{% url 'bk:ld' 1 %}"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">首页</button></a>
        {% if secondlists.has_previous %}
            <a href="{% url 'bk:ld' secondlists.previous_page_number%}"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">上一页</button></a>
        {% else %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:alert('已经是首页了！！')"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">上一页</button></a>
        {% endif %}

        {% if secondlists.has_next %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'bk:ld' secondlists.next_page_number %}"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">下一页</button></a>
        {% else %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:alert('已经是末页了！')"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">下一页</button></a>
        {% endif %}

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'bk:ld' paginator.num_pages %}"><button style="width: 55px;height: 35px;background-color: lightyellow;opacity: 0.8;border-radius: 20%">末页</button></a>
    </center>

    <!--添加-->
    <div class="modal fade" id="add1" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">添加</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>二级分类ID：</span></label>
                                <input type="text" name="secondlist_id"/>
                            </li>
                            <li>
                                <label><span>二级分类名：</span></label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label><span>一级分类ID：</span></label>
                                <input type="text" name="first_id"/>
                            </li>
                            <li>
                                <label><span>二级分类图：</span></label>
                                <input type="text" name="image"/>
                            </li>
                            <li>
                                <label><span>二级分类地址：</span></label>
                                <input type="text" name="url"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 编辑 -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">编辑</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>ID ：</span></label>
                                <input id="edit_id" type="text" name="secondlist_id" />
                            </li>
                            <li>
                                <label><span>二级分类ID：</span></label>
                                <input id="edit_secondid" type="text" name="second_id" />
                            </li>
                            <li>
                                <label><span>二级分类名：</span></label>
                                <input id="edit_name" type="text" name="name"/>
                            </li>
                            <li>
                                <label><span>一级分类ID：</span></label>
                                <input id="edit_firstid" type="text" name="first_id"/>
                            </li>
                            <li>
                                <label><span>二级分类图：</span></label>
                                <input id="edit_image" type="text" name="image"/>
                            </li>
                            <li>
                                <label><span>二级分类地址：</span></label>
                                <input id="edit_url" type="text" name="url"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 提示 -->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">提示信息</h4>
                </div>

                <div class="modal-body">

                    <h4 id="msg"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button onclick="delete_ajax()" class="btn btn-warning btn-sm">确定</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function edit(id,yk_secondclassid, yk_secondclassname,yk_firstclassid,secondimage,secondurl) {
            $('#edit_id').val(id);
            $('#edit_secondid').val(yk_secondclassid);
            $('#edit_name').val(yk_secondclassname);
            $('#edit_firstid').val(yk_firstclassid);
            $('#edit_image').val(secondimage);
            $('#edit_url').val(secondurl);
            $('#edit').modal('show');
        }

        var secondlist_id = 0;
        function delete_secondlist(secondlistid, secondlist_name) {
            secondlist_id = secondlistid;
            $('#msg').html('是否删除 '+ secondlist_name+" ?");
            $('#info').modal('toggle');
        }

        function delete_ajax() {
            url = window.location.href + "?id=" + secondlist_id;
            fetch(url, {
                method: 'DELETE'
            }).then(resp => resp.json()).then(data => {
                alert(data.msg);
                if (data.status == 0) {
                    // 刷新当前页面
                    open(window.location.href, target = '_self');
                }
            })
        }
    </script>
{% endblock %}

