{% extends 'basic/base.html' %}

{% block content_nav_home %}课程管理{% endblock %}

{% block nav_path %}
    <li><span>二级分类</span></li>
{% endblock %}

{% block content %}
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#add1" style="margin: 5px 0">添加</a>
    <table class="table table-bordered table-striped text-center bg-info">
        <thead>
        <tr class="info">
            <th class="text-center">id</th>
            <th class="text-center">secondid</th>
            <th class="text-center">secondname</th>
            <th class="text-center">firstid</th>
            <th class="text-center">image</th>
            <th class="text-center">url</th>
            <th class="text-center" width="200px">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for secondlist in secondlists %}
            <tr>
                <td>{{ secondlist.id }}</td>
                <td>{{ secondlist.yk_secondclassid}}</td>
                <td>{{ secondlist.yk_secondclassname}}</td>
                <td>{{ secondlist.yk_firstclassid}}</td>
                <td>{{ secondlist.secondimage}}</td>
                <td>{{ secondlist.secondurl}}</td>
                <td>
                    <a href="#" class="btn btn-info btn-sm" data-toggle="modal"
                       onclick="edit({{ secondlist.id }},{{ secondlist.yk_secondclassid}},
                               '{{ secondlist.yk_secondclassname}}',{{ secondlist.yk_firstclassid}},
                               '{{ secondlist.secondimage}}','{{ secondlist.secondurl}}')">编辑</a>
                    <a onclick="delete_secondlist({{ secondlist.id }},{{ secondlist.yk_secondclassid}},
                            '{{ secondlist.yk_secondclassname}}',{{ secondlist.yk_firstclassid}},
                            '{{ secondlist.secondimage}}','{{ secondlist.secondurl}}')" class="btn btn-danger btn-sm">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--添加-->
    <div class="modal fade" id="add1" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">添加</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>二级分类ID：</span></label>
                                <input type="text" name="secondlist_id"/>
                            </li>
                            <li>
                                <label><span>二级分类名：</span></label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label><span>一级分类ID：</span></label>
                                <input type="text" name="first_id"/>
                            </li>
                            <li>
                                <label><span>二级分类图：</span></label>
                                <input type="text" name="image"/>
                            </li>
                            <li>
                                <label><span>二级分类地址：</span></label>
                                <input type="text" name="url"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 编辑 -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">编辑</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <ul>
                            <li>
                                <label><span>二级分类ID ：</span></label>
                                <input id="edit_secondid" type="text" name="secondlist_id" />
                            </li>
                            <li>
                                <label><span>二级分类名 ：</span></label>
                                <input id="edit_name" type="text" name="name"/>
                            </li>
                            <li>
                                <label><span>一级分类ID：</span></label>
                                <input id="edit_firstid" type="text" name="first_id"/>
                            </li>
                            <li>
                                <label><span>二级分类图：</span></label>
                                <input id="edit_image" type="text" name="image"/>
                            </li>
                            <li>
                                <label><span>二级分类地址：</span></label>
                                <input id="edit_url" type="text" name="url"/>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 提示 -->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">提示信息</h4>
                </div>

                <div class="modal-body">

                    <h4 id="msg"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button onclick="delete_ajax()" class="btn btn-warning btn-sm">确定</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function edit(yk_secondclassid, yk_secondclassname,yk_firstclassid,secondimage,secondurl) {
            $('#edit_secondid').val(yk_secondclassid);
            $('#edit_name').val(yk_secondclassname);
            $('#edit_firstid').val(yk_firstclassid);
            $('#edit_image').val(secondimage);
            $('#edit_url').val(secondurl);
            $('#edit').modal('show');
        }

        var second_id = 0;
        function delete_secondlist(secondid, secondlist_name) {
            second_id = secondid;
            $('#msg').html('是否删除 '+ secondlist_name+" ?");
            $('#info').modal('toggle');
        }

        function delete_ajax() {
            url = window.location.href + "?id=" + second_id;
            fetch(url, {
                method: 'DELETE'
            }).then(resp => resp.json()).then(data => {
                alert(data.msg);
                if (data.status == 0) {
                    // 刷新当前页面
                    open(window.location.href, target = '_self');
                }
            })
        }
    </script>
{% endblock %}

